language: node_js
node_js: "10"

os:
  - linux

before_install:
  - |
    if [ $TRAVIS_OS_NAME == "linux" ]; then
      export DISPLAY=':99.0'
      /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
    fi

script:
  - yarn
  - yarn vscode:prepublish
  - echo ">>> Run integration tests"
  - yarn test

after_success:
  - bash <(curl -s https://codecov.io/bash)

cache: yarn