on:
  push:
    branches:
      - master
      - develop

  pull_request:
    branches:
      - master
      - develop

  release:
    types:
    - created

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 10.x
    - run: npm ci
    - run: xvfb-run -a npm test
    - name: Code coverage
      uses: codecov/codecov-action@v1
    - name: Publish
      if: success() && startsWith( github.ref, 'refs/tags/v')
      run: npm run deploy
      env:
        VSCE_PAT: ${{ secrets.VSCE_PAT }}